$nav__break: 830px;

.nav {
  background: black;
}

.stuck .nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

body.stuck {
  margin-top: 90px;
}

.nav__container {
  display: flex;
  justify-content: space-between
}

.logo {
  background: url('img/logo.png');
  height: 90px;
  width: 195px;
  min-width: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__menu {
  display: flex;
  align-self: center;

  @media (max-width: $nav__break) {
    display: none;

    &.is-active {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      background: black;
    }
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.menu__item {
  margin-right: 2em;
  text-transform: uppercase;
  font-weight: 700;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: white;
    font-size: 0.75em;
  }

  @media (max-width: $nav__break) {
    margin: 0;
    padding: 0.3em 0;

    &:last-child {
      padding: 0;
    }
  }

  @media (max-width: $mobile) {
    &:last-child {
      padding: 0.3em 0 0.6em;
    }
  }
}


.nav__toggle {
  color: white;
  align-items: center;
  display: none;

  @media (max-width: $nav__break) {
    display: flex;
  }
}
