// colors
$red:  #c80000;
$gold: #ffc300;
$grey: #959595;

$color__primary: $red;
$color__secondary: $gold;
$color__muted: $grey;

// fonts
$font__primary: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-size: 20px;

// breakpoints
$mobile: 500px;
$phone: $mobile;
$tablet: 768px;
$desktop: 960px;
$desktop-wide: 1200px;

$radius: 2px;
