.info-bar {
  background: linear-gradient(to bottom, lighten($color__primary,5%), darken($color__primary, 15%));
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 3em 0 2.5em;

  @media (max-width: $mobile) {
    display: block;
  }
}

.info-bar__item {
  display: flex;
  text-align: left;

  @media (max-width: $mobile) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid white;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}

.info-bar__info {
  padding-left: 1em;
}
.info-bar__item-title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1;
}

.info-bar__item-description {
  font-weight: 300;
}

.info-bar__icon {
  width: 75px;

  img {
    margin: 0 auto;
  }
}
