.people {
  background: url('img/bg__grey-pattern.png');
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 0 -1.5em;
}

.profile {
  padding: 0.6em;
}

.profile__picture {
  background: grey;
  height: 0;
  width: 75%;
  padding-bottom: 75%;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;

  #monica  & { background-image: url('img/profile__monica.png') }
  #craig   & { background-image: url('img/profile__craig.png')  }
  #carolyn & { background-image: url('img/profile__carolyn.png') }
}

.profile__description {
  font-size: 0.9em;
}
