.map,
.map iframe {
  display: block;
  margin: 0;
}

.google-map-date {
  background: #ebebeb;
  padding: 45px 0;
}

.google-map-date p {
  color: #464646;
  font-size: 35px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin: 0;
  display: inline-block;
  font-weight: 600;
}

.google-map-date p span {
  font-size: 25px;
}
